a {
	color: #151;
	text-decoration: none;
	font-family: calibri, arial;
	font-weight: bold;
}

a:hover {
	color: #a55;
}

body {
	background-color: #acf;
	background-image: url('logo.png');
	background-repeat: no-repeat;
	font-family: calibri, arial;
}

h1 {
	text-align: center;
	color: #115;
}

h2 {
	text-align: center;
	color: #373;
	font-size: 115%;
}

h6 {
	text-align: center;
	color: #733;
	font-size: 85%;
	margin-bottom: -10px;
}

ul {
	list-style-type: none;
}

#comic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: double;
	border-color: #555;
}

#navbar {
	border: groove;
	border-color: #040;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 500px;
	text-align: center;
	background-color: #9cb;
}

#menu {
	background-color: #9cb;
	border: dashed;
	border-color: #040;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	line-height: 150%;
	font-size: 125%;
}